:root {
  --accent-color: #298dcd;
  --accent-2-color: #0f5eaf;
  --items-color: rgba(41, 141, 205, 0.75);
  --menu-color: #363c4d;
  --menu-footer: #eaf4fa;
  --text-color: #363c4d;
  --ice-color: #e8f3f9;
  --ice-bg-color: #eef5fa;
  --gold-color: #b38c4b;
  --gold-light-color: #f1e9d9;
  --line-bg-color: rgba(255, 245, 247, 0.7);

  --font-primary: "Open Sans", sans-serif;
  --font-size: 16px;
}

/*
  Colors
*/
$white: #ffffff;
$black: #313131;

$xss: 1640;
$xs: 1440;
$md: 767;
$container: 1520px;
$indent: 10px;
$lh: 1.3;

body {
  margin-bottom: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: $lh;
  color: $black;
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: $container;
  margin-inline: auto;
  padding-inline: $indent;
  @media (max-width: #{$xss}px) {
    max-width: 1406px;
  }
  @media (max-width: #{$xs}px) {
    max-width: 1100px;
  }
  @media (max-width: #{$md}px) {
    max-width: 600px;
  }
}

.scroll-line-none::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scroll-line-none::-webkit-scrollbar-button {
  background-color: #666;
}
.scroll-line-none::-webkit-scrollbar-track {
  background-color: #999;
}
.scroll-line-none::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.scroll-line-none::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: #666;
  border-radius: 3px;
}
.scroll-line-none::-webkit-scrollbar-corner {
  background-color: #999;
}
.scroll-line-none::-webkit-resizer {
  background-color: #666;
}

button,
input,
select,
textarea {
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &.line-clamp-1 {
    -webkit-line-clamp: 1;
  }
  &.line-clamp-2 {
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
