.footer {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  z-index: 20;
  .line-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 40px 60px;
    background-color: var(--accent-color);
    border-radius: 36px;
    .logotype {
      display: block;
      width: 200px;
      img {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: contain;
      }
    }
    .footer-menu {
      display: block;
      width: 100%;
      max-width: max-content;
      .menu-item {
        display: block;
        width: 100%;
        a {
          display: block;
          width: 100%;
          font-family: var(--font-primary);
          font-weight: 400;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 0.03em;
          color: var(--menu-footer);
        }
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
    }
    .footer-contacts {
      display: block;
      width: 100%;
      max-width: max-content;
      a {
        display: block;
        width: 100%;
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: var(--menu-footer);
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
    }
    .footer-partners {
      display: block;
      width: 100%;
      max-width: max-content;
      a {
        display: block;
        width: 100%;
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-decoration: underline;
        color: var(--menu-footer);
      }
    }
  }
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $white;
    p {
      display: block;
      width: 100%;
      font-family: var(--font-primary);
      font-weight: 400;
      font-size: 11px;
      line-height: 1.5;
      letter-spacing: 0.03em;
      color: var(--menu-footer);
    }
  }
}

@media (max-width: 1440px) {
  .footer .line-wrap {
    padding: 36px 30px;
  }
  .footer .line-wrap .logotype {
    width: 180px;
  }
}
@media (max-width: 1100px) {
  .footer .line-wrap .logotype {
    width: 146px;
  }
  .footer .line-wrap .footer-menu .menu-item a,
  .footer .line-wrap .footer-partners a {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .footer .line-wrap {
    padding: 24px 20px;
    border-radius: 24px;
  }
  .footer .line-wrap .logotype {
    width: 100px;
  }
  .footer .line-wrap .footer-menu .menu-item a,
  .footer .line-wrap .footer-contacts a,
  .footer .line-wrap .footer-partners a {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .footer .line-wrap {
    justify-content: center;
    gap: 24px;
  }
  .footer .line-wrap .footer-menu,
  .footer .line-wrap .footer-contacts {
    max-width: 100%;
    text-align: center;
  }
  .footer .footer-bottom p {
    text-align: center;
  }
  .footer .footer-bottom {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
