.h2 {
  display: block;
  width: 100%;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}

@media (max-width: 991px) {
  .h2 {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .h2 {
    font-size: 31px;
  }
}
@media (max-width: 460px) {
  .h2 {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .h2 {
    font-size: 25px;
  }
}
